In [ ]:
Q.1> What is a database ? Differenciate between SQL and NoSQL database .
Ans> A database is a structured collection of data that is stored and organized in a way that allows 
     for efficient retrieval and manipulation of information. Databases are commonly used in software 
     applications to store and manage data, such as customer information, product catalogs, and financial 
     records.

     SQL and NoSQL are two different types of database management systems (DBMSs) that differ in their 
     approach to organizing and storing data.

     SQL (Structured Query Language) databases are relational databases that use tables to organize and store 
     data. They use a predefined schema to define the structure of the data and enforce data integrity. SQL 
     databases are typically used for applications that require complex data relationships and transactions, 
     such as banking systems or e-commerce websites.

     NoSQL (Not Only SQL) databases are non-relational databases that use flexible schemas to store and organize 
     data. They can handle large volumes of unstructured and semi-structured data, such as social media data or 
     sensor data. NoSQL databases are typically used for applications that require high scalability and performance, 
     such as big data analytics or real-time data processing.

In [ ]:
Q.2> What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans> DDL stands for Data Definition Language, which is a set of SQL commands used to create, 
     modify, and delete database objects such as tables, views, and indexes.
     CREATE is used to create new database objects, such as tables. For example, to create a new table 
     named "customers" with columns for "customer_id", "customer_name", and "customer_email", you could 
     use the following SQL statement:
            CREATE TABLE customers (
              customer_id INT PRIMARY KEY,
              customer_name VARCHAR(50),
              customer_email VARCHAR(100)
             );
     DROP is used to delete existing database objects, such as tables. For example, to delete the "customers" 
     table, you could use the following SQL statement:
     DROP TABLE customers;
     
    ALTER is used to modify the structure of an existing database object, such as adding or deleting columns 
    from a table. For example, to add a new column named "customer_phone" to the "customers" table, you could 
    use the following SQL statement:
      ALTER TABLE customers
      ADD customer_phone VARCHAR(20);
        
    TRUNCATE is used to delete all the data from a table, but the table structure remains intact. This is useful 
    when you want to delete all the records from a table, but you want to keep the table structure for future use. 
    For example, to delete all the records from the "customers" table, you could use the following SQL statement:
    TRUNCATE TABLE customers;

In [ ]:
Q.3> What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans> DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate data within 
     a database. The three main DML commands are INSERT, UPDATE, and DELETE.

     INSERT is used to add new data into a table. For example, to add a new record into a table named "employees" 
     with the values "John" for the "name" column, "35" for the "age" column, and "Developer" for the "job_title" 
     column.
        
    UPDATE is used to modify existing data in a table. For example, to update the job title of an employee named 
    "John" in the "employees" table to "Senior Developer"
    
    DELETE is used to remove data from a table. For example, to delete all the records in the "employees" table 
    where the age is less than 30.

In [ ]:
Q.4> What is DQL? Explain SELECT with an example.
Ans> DQL stands for Data Query Language, which is a subset of SQL used to query and retrieve data from a 
     database. The most commonly used DQL command is SELECT.

     SELECT is used to retrieve data from one or more tables in a database. For example, to retrieve all 
     the records from a table named "employees" that contains columns for "name", "age", and "job_title", 
     you could use the following SQL statement:

     SELECT name, age, job_title
     FROM employees;

In [ ]:
Q.5> Explain Primary Key and Foreign Key.
Ans> Primary Key and Foreign Key are two important concepts in relational database design.

     A Primary Key is a column or set of columns in a table that uniquely identifies each record in that 
     table. It serves as a reference point for other tables to establish relationships. Every table must 
     have a Primary Key that cannot contain null values, and each value in the Primary Key must be unique. 
     Examples of columns that could serve as Primary Keys include social security numbers, email addresses, 
     or unique identification numbers.

In [ ]:
#Q.6> Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

# establish connection to MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

# fetch all rows from the result set
myresult = mycursor.fetchall()

# print the result
for row in myresult:
  print(row)

In [ ]:
Q.7> Give the order of execution of SQL clauses in an SQL query.
Ans> The order of execution of SQL clauses in an SQL query is as follows:

     FROM - This clause specifies the table or tables from which the data is being selected.

     WHERE - This clause filters the data based on a set of conditions specified by the user. 
     It is executed after the FROM clause.

     GROUP BY - This clause groups the data based on one or more columns. It is executed after the WHERE clause.

     HAVING - This clause filters the grouped data based on a set of conditions specified by the user. 
     It is executed after the GROUP BY clause.

     SELECT - This clause selects the columns of data to be returned in the result set. It is executed after 
     the GROUP BY and HAVING clauses.

     ORDER BY - This clause sorts the result set based on one or more columns. It is executed after the SELECT clause.

     LIMIT - This clause limits the number of rows returned in the result set. It is executed last, after all other 
     clauses have been executed.